
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="border:2px solid red">
                    <h3>ParentComponent</h3>
                    <h2>
                        @Message
                    </h2>
                    <button class="btn btn-primary" @onclick="OnUpdateMessageParentWithChild">Parent : Submit</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="border:2px solid green">
                    <ChildComponent 
                                    Message="@Message"
                                    MessageChangeEvent1="GetChildMessageByUsingAction"
                                    MessageChangeEvent2="GetChildMessageByEventCallBack">
                    </ChildComponent>
                </div>
            </div>
        </div>
    </div>



@code {

    public String Message { get; set; }

    private void OnUpdateMessageParentWithChild()
    {
        Message = "Parent : Hello";
    }

    private void GetChildMessageByUsingAction(string message)
    {
        // If Message Handler is Action delegate then you have to Use StateHasChanged method
        Message = message;
        StateHasChanged();
    }

    private void GetChildMessageByEventCallBack(string message)
    {
        Message = message;
    }

}
